@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    position: fixed;
}

header {
    width: 100vw;
    height: 13vh;
    background-color: #000000;
}

article {
    width: 100vw;
    height: 87vh;
    background-color: #ffffff;
}

footer {
    display: none;
}

h1.logo {
    padding-top: 1vh;
    width: 100%;
    height: 100%;
    font-family: 'PyeongChangPeace-Bold';
    color: #ffffff;
    font-size: 16vw;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
}


#result {
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100vw;
    height: 60vh;
    font-size: 5vw;
}

#name {

    width: 100vw;
    font-size: 10vw;
}

#description {
    width: 100vw;
    font-size: 8vw;
}

#send {
    padding-top: 10vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 98vw;
    height: 15vh;
    bottom: 0;
}

#input {
    display: inline;
    width: 80vw;
    height: 7vh;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 4vw;
    padding-left: 1vw;
}

#button {
    display: inline;
    width: 14vw;
    height: 7vh;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 4vw;
    background-color: #ffffff;
}

#status {
    font-weight: bold;
    margin-left: 2vw;
    padding: 0.5vh 4vw 0.5vh 4vw;
    width: 68vw;
    font-size: 3vw;
    color: #000000;
    border-radius: 0 0 3px 3px;
    background-color: #858585;
}