<!DOCTYPE html>
<html>

<head>
    <meta lang="ko" charset="UTF-8">
    <title>Persona Names</title>
</head>

<body>
    <main>
        <h1>Persona Names</h1>
        <h2>Copyrights</h2>
        <div>
            <ul>
                <a class="copyright" href="https://github.com/bytecakelake/Nickname-Generator-AI-Web">
                    <li>© Webpage desgined by @bytecakelake</li>
                </a>
                <a class="copyright" href="https://www.flaticon.com/free-icons/send-message" title="send message icons">
                    <li>© Send message icons created by Md Tanvirul Haque - Flaticon</li>
                </a>
            </ul>
    </main>

</html>